@*@model IEnumerable<askLNU.ViewModels.QuestionViewModel>*@
@model PagedList.IPagedList<askLNU.ViewModels.QuestionViewModel>
@using PagedList.Mvc;
@using PagedList;
@*@model PagedList.IPagedList<MVC_Views.Models.ViewModel>*@
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "Index";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/css/register.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Questions</h1>
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="border border-warning">
                <div class="row">
                    <div class="col-sm">
                        <h2>
                            @Html.DisplayFor(modelItem => item.Title)
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        @Html.DisplayFor(modelItem => item.Text)
                    </div>
                    <div class="col-4">
                        <h4>
                            Rate: @Html.DisplayFor(modelItem => item.Rating)
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        Created on: @Html.DisplayFor(modelItem => item.Date)
                    </div>
                </div>
                <a>@Html.ActionLink("Details", "QuestionDetails", new { id = item.Id }, new { @class = "card-link" })</a>
            </div>
        }
    </div>
    <div class="pagination">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</body>                                                                        