@*@model IEnumerable<askLNU.ViewModels.QuestionViewModel>*@
@model PagedList.IPagedList<askLNU.ViewModels.QuestionViewModel>
@using PagedList.Mvc;
@using PagedList;
@*@model PagedList.IPagedList<MVC_Views.Models.ViewModel>*@
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "Index";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/css/register.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Questions</h1>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-horizontal" }))
    {
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    @Html.DropDownList("Faculties", "Faculty")
                </div>
                <div class="col-md-2" id="btext">
                    <input type="submit" value="Фільтрувати" class="btn" id="hello-btn" />
                </div>
            </div>
        </div>
    }


    <div class="container">
        @foreach (var item in Model)
        {
        <div class="border border-warning">
            <div class="row">
                <div class="col-sm">
                    <h2>
                        @Html.DisplayFor(modelItem => item.Title)
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    @Html.DisplayFor(modelItem => item.Text)
                </div>
                <div class="col-4">
                    <h4>
                        Rate: @Html.DisplayFor(modelItem => item.Rating)
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Created on: @Html.DisplayFor(modelItem => item.Date)
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    @foreach (var tag in item.Tags)
                    {
                        <p class="btn btn-sm btn-dark">@tag </p>
                    }
                </div>
            </div>
            <a href="@Url.Action("Details", "Question", new { id = item.Id })">Details</a>
        </div>
        }
    </div>
    <div class="pagination">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @*     @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
    </div>
</body>                                                                        