@model IEnumerable<askLNU.ViewModels.CreatedQuestionsViewModel>
@using askLNU.BLL.Interfaces
@inject ISignInService SignInService

@{
    ViewData["Title"] = "FavoriteUserQuestions";
}
<style>
    body {
        background-color: lightslategray;
    }

    form {
        margin-bottom: 16px;
    }

    section {
        display: block;
        overflow: auto;
        height: 100%;
        border-radius: 4px;
        background-color: #f8f9fa;
        padding: 16px 24px 40px !important;
    }

    #linksRow {
        width: 344px;
        border: double;
        padding: 6px;
        border-radius: 4px;
    }

    a, h4 {
        color: #cb9d12;
    }
</style>
<body>
    <section>
        <div class="content">

            <div class="w3-row-padding" id="linksRow">
                <a class="link" asp-area="" asp-controller="UserProfile" asp-action="Index">Profile |</a>
                <a class="link" asp-area="" asp-controller="Question" asp-action="CreatedQuestions">Created questions |</a>
                <a class="link" asp-area="" asp-controller="Question" asp-action="FavoriteUserQuestions">Favorite questions</a>
            </div>
            <input type="submit" style="float: right" value="Create new" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Question")'" />

            <h1 style="padding: 24px;">Favorite questions</h1>

            <div class="container-fluid" style="max-width:888px; float:left">
                @foreach (var item in Model)
                {
                    @if (!item.IsSolved)
                    {
                        <div class="border border-right-0 border-left-0 border-warning" style="padding: 8px;">
                            <div class="row">
                                <div class="col-10 text-left">
                                    <h2>
                                        @Html.ActionLink(item.Title, "Details", "Question", new { id = item.Id }, new { style = "text-decoration:none; color: black;" })
                                    </h2>
                                </div>
                                @if (User.IsInRole("Moderator"))
                                {
                                    <div class="col-2 text-right">
                                        <button type="button" class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("DeleteQuestion", "Question", new { questionId = item.Id }) '">
                                            <i class="fa fa-trash-o" style="font-size:15px;color:white"></i>
                                        </button>
                                    </div>
                                }
                            </div>
                            <div class="row">

                                <div class="col-7">
                                    @Html.DisplayFor(modelItem => item.Text)

                                </div>
                                <div class="col-2 text-center">
                                    <h4>
                                        Rate: @Html.DisplayFor(modelItem => item.Rating)
                                    </h4>
                                    @DateTime.Now.Subtract(item.Date).Days.ToString() days ago
                                </div>
                                @if (SignInService.IsSignedIn(User))
                                {
                                    <div class="col-1 text-right">
                                        <button type="button" class="btn btn-warning btn-lg" onclick="location.href='@Url.Action("AddToFavorites", "", new { questionId = item.Id }) '">
                                            @if (item.IsFavorite == false)
                                            {
                                                <span class="fa fa-star"></span>
                                            }
                                            else
                                            {
                                                <span class="fa fa-star-o"></span>
                                            }
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
             
            </div>
        </div>

    </section>
</body>
