@model RegisterViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<askLNU.DAL.Entities.ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Register";
}
<style>
    .text-danger {
        margin-left: 80px;
    }

    .fa {
        border-radius: 16px;
        padding: 13px;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
    }

        .fa:hover {
            opacity: 0.7;
        }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

    .fa-google {
        background: #dd4b39;
        color: white;
    }
</style>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/css/register.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="row">
    <div class="col-md-12" id="register">
        <h1>@ViewData["Title"]</h1>
        @{
            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
            if (loginProviders.Count == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" style="width: 40%; margin: auto; margin-bottom: 16px;">
                    @foreach (var provider in loginProviders)
                    {
                        @if (@provider.Name == "Google")
                        {
                            <button type="submit" class="fa fa-google" name="provider" value="@provider.Name" title="Sign up using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                        else
                        {
                            <button type="submit" class="fa fa-facebook" name="provider" value="@provider.Name" title="Sign up using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                    }
                </form>
            }
        }

        <p class="divider-text">
            <span class="bg-light">OR</span>
        </p>
        <form asp-action="Register" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Name" class="form-control" placeholder="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Surname" class="form-control" placeholder="Surname" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Course" class="form-control" placeholder="Course" />
                <span asp-validation-for="Course" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="UserName" class="form-control" placeholder="User Name" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-left: 130px;">
                <input asp-for="Image" class="form-control-file" placeholder="Image" />

                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}